<!DOCTYPE html>
<html>
<head>
<h1>Mentions légales </h1>
</head>
<body>
 <p>Lorem ipsum dolor sit amet. Est provident voluptate non rerum voluptatibus et voluptatem placeat et
dicta veritatis qui amet omnis ex dolores distinctio. Ut molestias perspiciatis id asperiores suscipit qui nihil libero eos molestias veniam ea pariatur architecto. Aut nulla voluptas id deleniti reprehenderit et unde sequi eos omnis error. Eum asperiores tempora sit veritatis inventore ad corrupti deleniti cum quia nulla est ipsa deserunt At itaque architecto ea alias aspernatur.
Est reiciendis aspernatur et doloremque rerum qui labore consectetur. Vel illo nobis et illo provident</p>
</body>
</html>