{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin - {{parent()}} {% endblock %}

{% block body %}
<div class="body">
    <div class="title_dashboard_admin">
        <h2>All Dev Long</h2>
        <h4>Tous les utilisateurs</h4>
    </div>

    <div class="dashboard_admin_card">
        <div class="dashboard_user_line">
        <p class="dashboard_number_user">N°</p><p class="dashboard_admin_name">Nom</p><p class="dashboard_admin_surname">Prénom</p><p class="dashboard_admin_email">Email</p><pclass="dashboard_admin_pseudo">Pseudo</p><p class="dashboard_admin_actions">Action</p>
        </div>

        <div class="dashboard_user_line">
        <p class="dashboard_number_user">N°</p><p class="dashboard_admin_name">Nom</p><p class="dashboard_admin_surname">Prénom</p><p class="dashboard_admin_email">Email</p><pclass="dashboard_admin_pseudo">Pseudo</p><p class="dashboard_admin_actions">Action</p>
        </div>

        <div class="dashboard_user_line">
        <p class="dashboard_number_user">N°</p><p class="dashboard_admin_name">Nom</p><p class="dashboard_admin_surname">Prénom</p><p class="dashboard_admin_email">Email</p><pclass="dashboard_admin_pseudo">Pseudo</p><p class="dashboard_admin_actions">Action</p>
        </div>

        <div class="dashboard_user_line">
        <p class="dashboard_number_user">N°</p><p class="dashboard_admin_name">Nom</p><p class="dashboard_admin_surname">Prénom</p><p class="dashboard_admin_email">Email</p><pclass="dashboard_admin_pseudo">Pseudo</p><p class="dashboard_admin_actions">Action</p>
        </div>

        <div class="dashboard_user_line">
        <p class="dashboard_number_user">N°</p><p class="dashboard_admin_name">Nom</p><p class="dashboard_admin_surname">Prénom</p><p class="dashboard_admin_email">Email</p><pclass="dashboard_admin_pseudo">Pseudo</p><p class="dashboard_admin_actions">Action</p>
        </div>
    </div>
</div>
