{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin -
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="body">
		<div class="title_dashboard_admin">
			<h2>All Dev Long</h2>
			<h4>Tous les utilisateurs</h4>
		</div>
		{% if users is defined %}
			{% for user in users %}
				<span>
					Email:
					{{ user.email }}
				</span><br />
			{% endfor %}
		{% endif %}

	</div>
{% endblock %}
