.legal_banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)), url("http://127.0.0.1:8000/pictures/juridique.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 40em;
  padding: 9em 2em;
  z-index: 1;
  display: grid;
  justify-items: center;
  h1 {
    padding-top: 0;
  }
}


.legal_section {
  padding: 5em;
  p{
    padding: 1em;
    text-align: justify!important;
  }
}

@media screen and (max-width: 768px) {
  .legal_section {
    padding: 1em;
  }
}