.logo_brand {
    width: 100px;
    margin: auto;
    align-items: center;
    display: flex;
    padding: 1em;
}
.section_brand {
    text-align: center;
}
.section_video {
    display: flex;
    justify-content: center;
    padding: 4em;
    margin: auto;
}


.section_promotion {
    padding: 1em;
}
.promotion_card {
    padding: 1em;
    margin: 1em 15em;
}
.promo_btn {
    border: 1px solid grey;
    padding: 1em 7em;
}

.section_external_site {
    text-align: center;
    padding: 2em;
}
.external_site_link {
    padding: 1em 2em;
    border-radius:12px;
}
.section_social_network {
    color: black;
    padding: 1em 3em 2em 3em;
    font-size: 2.5em;
    text-align: center;
}
.fa-brands {
    padding: 1em;
}