@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;800&family=Bitter:wght@200;300;400;500;600;700&display=swap');

$primary-color: #575756;
$secondary-color: #DADADA;
$tertiary-color: #61A8DD;
.login {
  display: flex;  
}
.connexion_title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    & h1 {
        margin-right: 1rem;
        color: $primary-color!important;
        font-size: 2em;
        padding-bottom: 1em;
    }
}

.section_form {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px 14em 0 16em;
    & form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.form_group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    & img, label, input {
        margin-right: 10px;
    }
    input {
        border-radius: 25px;
        padding: 0.8em;
        border: 1px solid $primary-color;
    }
    & img {
        width: 30px;
        height: 30px;
    }
}

.connexion_div_btn {
    margin: 0 0 10px 0;
}

.connexion_form_btn {
    background-color: $primary-color;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid $tertiary-color;
    margin-right: 4rem;
}

.switch_form {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    & a {
        text-decoration: underline;
    }
}

.section_form_img {
    display: contents;
}
label {
    font-family: 'Alegreya Sans', sans-serif;
}
@media screen and (max-width: 768px) {
    .connexion_title {
        flex-direction: column-reverse;
    }
    .section_form_img {
        display: none;
    }
    .section_form {
        margin: auto;  
    }
    .form_group input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $primary-color ;
        border-radius: 0;
        background-color: transparent;
    }
    .form_group label {
        display: none;
    }
    .connexion_form_btn {
        margin-right: 2em;

    }
    .login {
        margin-bottom: 4em;
    }
}