@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;800&family=Bitter:wght@200;300;400;500;600;700&display=swap');

$primary-color: #575756;
$secondary-color: #DADADA;
$tertiary-color: #61A8DD;

.connexion_title {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.section_form {

}

.form_group {

}

.switch_form {

}

.section_form_img {

}

@media screen and (max-width: 768px) {
    
}