/*BANNER*/
.preview_banner {
    background-image: url("http://127.0.0.1:8000/pictures/banner_preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 40em;
    padding: 9em 2em; 
    display: grid;
    justify-items: center;
    
    h1 {
        color: white;
    }
    h2 {
        color: white;
    }
}
/* PROMO */
.promo {
    padding: 1em;
}
.promo_card {
    background-color: white;
    padding: 1em;
    margin: 1em 15em;
}
.btn_promo {
    border: 1px solid grey;
    padding: 1em 7em;
}
/* VIDEO */
.video {
    justify-content: center;
    padding: 4em;
}
.video_video {
    width: 40em;
}
/* EN SAVOIR PLUS */
.learn {
    padding: 3em;
}
.learn_more  {
    display: grid;
    grid: auto / auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
    padding: 1em;
}
.learn_more_card {
    text-align: center;
    padding: 2em;
}
.learn_more_img {
    height: 15em;
}
.learn_more h3, p  {
    text-align: center;
}
.btn_learn_more {
    width: -webkit-fill-available;
    padding: 0.5em;
    border-radius: 0;
    border: 1px solid grey;

}

/* RESPONSIVE */
@media screen and (max-width: 1700px) {
    .learn_more {
        display: grid;
        grid: auto / auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
        justify-content: center; 
    }
    .learn_more_img {
        height: 15em;
    }
} 
@media screen and (max-width: 1530px) {
    .learn_more {
        display: grid;
        grid: auto / auto auto auto;
        grid-gap: 10px;
        padding: 10px;
        justify-content: center; 
    }
    .learn_more_img {
        height: 12em;
    }
}
@media screen and (max-width: 1200px) {
    .learn_more {
        display: grid;
        grid: auto / auto ;
        grid-gap: 10px;
        padding: 10px;
        justify-content: center; 
    }
    .learn_more_img {
        width: 20em;
    }
    .promo_card  {
        margin: 1em 2em;
    }
    .btn_promo {
        padding: 1em;
    }
    .video_video {
        width: 20em;
    }
    
}