<footer>
    <div class="footer_top">
        <div class="footer_left">
            <h4>All Dev Long</h4>
            <p>Votre agence de développement web à Bordeaux.</p>
            <h4>Email</h4>
            <p>alldevlong@gmail.com</p>
            <h4>Téléphone</h4> 
            <p>06 01 02 03 04</p>
            <div>
                <p>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </p>
            </div>
        </div>
        <div class="footer_right">
            <img class="maps" src="{{ asset('/pictures/maps.jpg') }}" alt="Carte de notre emplacement">
        </div>
    </div>
    <div>
        <div class="footer_legal">
            <p class="footer_link_2">&copy; 2022 All Dev Long - Tout droits réservés</p>
            <p class="footer_link">
                <a href="{{path('mentions-legales')}}">Mentions Légales</a> <a href="{{path('personnal_data')}}">Données Personnelles</a> <a href="{{path('cgu')}}">Condition Générale d'Utilisation</a>
            </p>
        </div>
    </div>
</footer>